$icon-size: 25px;
$padding: 5px 20px;
$padding-address: 4px 20px 4px 30px;

.wallet {
  position: relative;
  margin-left: 20px;
  display: inline-block;

  .name {
    font-size: 14px;
    font-weight: normal;
  }

  .icon {
    position: absolute;
    left: 13px;
    bottom: 3px;

    img {
      min-width: $icon-size;
      max-width: $icon-size;
      min-height: $icon-size;
      max-height: $icon-size;
    }
  }

  .blockchain {
    display: inline-block;
    background: $box-background-hover;
    padding: $padding;
    padding-left: 50px;
    border-radius: $button-border-radius;
  }

  .address {
    position: relative;
    left: -20px;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid $box-background-hover;
    padding: $padding-address;
    border-radius: $button-border-radius;
  }

  .connect {
    position: relative;
    left: -20px;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid $box-background-hover;
    padding: $padding-address;
    border-radius: $button-border-radius;

    &:hover {
      cursor: pointer;
    }
  }
}

.mob {
  margin: 0 auto;
  text-align: center;
}