$icon-size: 25px;
$padding: 6px 30px 6px 45px;
$padding-mywallet: 6px 30px 6px 30px;

.wallet {
  position: relative;
  display: inline-block;

  @import "./Icons";

  .name {
    font-size: 14px;
    font-weight: normal;
  }

  .icon {
    position: absolute;
    left: 10px;
    bottom: 4px;

    img {
      min-width: $icon-size;
      max-width: $icon-size;
      min-height: $icon-size;
      max-height: $icon-size;
    }
  }

  .blockchain {
    position: relative;
    display: inline-block;
    background: $box-background-hover;
    padding: $padding;
    text-align: right;
    border-top-right-radius: $button-border-radius;
  }

  .mywallet {
    position: relative;
    right: -1px;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    border: 1px solid $box-background-hover;
    padding: $padding-mywallet;
    border-top-left-radius: $button-border-radius;
    border-bottom: 0;
    background: $box-background;
    border: 0;
    transition: $global-transition;

    &:hover {
      cursor: pointer;
      color: white !important;
      background: $box-background-hover;
    }
  }
}

.mob {
  margin: 0 auto;
  text-align: center;
}
