.menu-sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  color: white;
  text-align: left;
  clear: both;
  z-index: 9999;
  background: none;

  .wrap {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    background: none;
  }

  .right {
    position: relative;
    bottom: 0;
    width: 100%;
    right: 20px;
    text-align: right;
  }

  @media (max-width: 767px) {
    .right {
      right: 0;
      text-align: center;
    }
  }
}
