$width: 100%;
$padding: 20px 0;
$content-padding: 0;

$logo-width: 50px;
$logo-height: 50px;

.menu {
  position: relative;
  width: $width;
  padding: 0;
  margin: 0 auto;
  min-height: $logo-height;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;

  background: linear-gradient(0.25turn, $box-background 20%, $box-background 60%, #015eea 90%);

  text-align: left;

  .logo {
    position: absolute;
    right: 0;
    top: 0;

    img {
      width: $logo-width;
      height: $logo-height;
    }
  }

  @import "./Sub/Button";
  @import "./Sub/Computer";
}

@import "./Sub/Wallet";

@import "./Sub/Hamburger";
@import "./Sub/Mobile";
