$margin: 0 0 20px 0;
$width: 100%;
$currency-logo-size: 40px;

.deposit {
  position: relative;
  margin: $margin;

  .error-funds {
    position: absolute;
    top: 28px;
    left: 10px;
    font-size: 11px;
    color: rgb(201, 0, 0);
    font-weight: bold;
  }

  .wrap {
    position: relative;
    margin: 0 auto;
    width: $width;

    .logo {
      position: absolute;
      top: 21px;
      left: 10px;
      img {
        min-width: $currency-logo-size;
        min-height: $currency-logo-size;
        max-width: $currency-logo-size;
        max-height: $currency-logo-size;
      }
    }
  }
}
