$margin: 0 0 20px 0;
$width: 100%;
$currency-logo-size: 40px;
$error-funds-font-size: 11px;
$error-funds-color: rgb(201, 0, 0);

.deposit {
    position: relative;
    margin: $margin;

    .error-funds {
      position: absolute;
      top: 28px;
      left: 10px;
      font-size: $error-funds-font-size;
      color: $error-funds-color;
      font-weight: bold;
    }

    .wrap {
      position: relative;
      margin: 0 auto;
      width: $width;

      .logo {
        position: absolute;
        top: 21px;
        left: 10px;
        img {
          min-width: $currency-logo-size;
          min-height: $currency-logo-size;
          max-width: $currency-logo-size;
          max-height: $currency-logo-size;
        }
      }
    }
  }