$button-deposit-background: #0f6e2f;
$button-deposit-background-hover: #139e41;

$links-margin: 15px 0;

.receive {
  .details {
    display: table;
    width: 100%;

    .waiting {
      text-align: center;
    }
  }

  .links {
    text-align: center;
    margin: $links-margin;

    a {
      color: white !important;
    }
  }

  .button-deposit {
    background: $button-deposit-background !important;
    transition: $global-transition;

    &:hover {
      background: $button-deposit-background-hover !important;
    }
  }
}
