$box-background: #232b38;
$box-background-hover: #2e3849;
$box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

$global-font: "Noto Sans";
$global-background: radial-gradient(farthest-corner at 0% 0%, $box-background 1%, rgb(20, 20, 20) 100%);
$global-container-padding: 0 0 60px 0;
$global-container-max-width: 1680px;

$global-body-padding: 5px 5px 25px 5px;

$global-link-hover-color: rgb(110, 255, 248) !important;

$global-link-color: white;
$global-link-transition: color 0.2s;

$global-text-common: rgb(255, 255, 255);
$global-text-quiet: rgba(255, 255, 255, 0.2);
$global-text-quiet-less: rgba(255, 255, 255, 0.8);
$global-text-transparent: rgba(255, 255, 255, 0.3);
$global-text-small: 14px;
$global-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);

$link-svg-size: 70px;
$link-svg-shadow: drop-shadow(0 0 0.45rem rgb(0, 6, 15));

$button-border-radius: 4px;
$button-padding: 15px 20px;
$button-margin: 5px 0;
$button-background: #2c2f36;
$button-background-inactive: rgba(48, 42, 42, 0.2);
$button-hover-background: #3e4a64;

$global-transition: all 0.1s;

$global-brand-margin: 0 0 50px 0;
$global-brand-img-width: 220px;
$global-brand-img-height: 40px;

$global-part-margin: 0 0 30px 0;

$currency-icon-size: 50px;

$bigamount-font-size: 42px;
$bigamount-margin: 30px 0;

$main-title-font-size: 18px;
$main-title-margin: 0 0 20px 0;
$main-amount-font-size: 26px;

$form-background: $box-background;
$form-background-hover: $box-background-hover;
$form-height: 80px;
$form-padding: 0 10px 0 10px;
$form-font-size: 28px;

$social-logo-size: 26px;
$social-margin: 0 10px;
$socials-margin: 20px;
$socials-padding: 0 0 40px 0;
