@import "./_constants";
@import "./mixins";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	min-width: 300px;
	color: white;
	font-family: $global-font;
	margin: 0;
	padding: 0 !important;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto !important;
}

body {
	background: $global-background;
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
	min-height: 90vh;
}

main {
	margin: 0 auto;
	overflow: hidden;
	padding: $global-body-padding;
}

.container {
	max-width: $global-container-max-width;
	padding: $global-container-padding;
	overflow: hidden;
}

.container-fluid {
	padding: 0;
	overflow: hidden;
	min-height: 600px;
}

a {
	color: $global-link-color !important;
	text-decoration: none !important;
	transition: $global-link-transition;

	&:hover {
		text-decoration: none;
	}
}

.clickable {
	&:hover {
		cursor: pointer;
	}
}

table,
th,
td,
thead,
tr {
	border: 0;
	padding: 0;
}
body,
head {
	display: block;
	color: transparent;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.MuiButtonBase-root {
	z-index: 1 !important;
}

.disabled {
	&:hover {
		cursor: default;
	}
}

.brand {
	width: 100%;
	text-align: center;
	margin: $global-brand-margin;

	img {
		max-width: $global-brand-img-width;
		max-height: $global-brand-img-height;
	}
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	z-index: 9999;
}

/* Track */
::-webkit-scrollbar-track {
	background: #97cdff;
	z-index: 9999;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(17, 31, 46);
	z-index: 9999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(88, 170, 207);
	z-index: 9999;
}

a {
	transition: color 0.1s;
	text-decoration: underline;

	&:hover {
		color: rgb(106, 178, 255) !important;
		text-decoration: underline;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.inactive * {
	color: $global-text-quiet !important;
}

.loading-circular {
	position: absolute;
	left: 20px;
	bottom: 6px;
}

.button {
	position: relative;
	width: 100%;
	margin: $button-margin;
	padding: $button-padding;
	border-radius: $button-border-radius;
	background: $button-background !important;
	text-align: center;
	font-weight: bold;
	transition: $global-transition;
	color: white;

	&:hover {
		background: $button-hover-background !important;
		cursor: pointer;
	}
}

.currency-icon {
	img {
		min-width: $currency-icon-size;
		min-height: $currency-icon-size;
		max-width: $currency-icon-size;
		max-height: $currency-icon-size;
	}
}

.button-inactive {
	background: $button-background-inactive !important;
	color: $global-text-quiet !important;

	&:hover {
		background: $button-background-inactive !important;
		cursor: default;
	}
}

.bigamount {
	text-align: center;
	font-size: $bigamount-font-size;
	font-weight: bold;
	margin: $bigamount-margin;
}

.part {
	display: table-row;
	min-width: 100%;

	.line {
		display: table-cell;
		color: $global-text-quiet-less;
		min-width: 50%;
	}

	.content {
		display: table-cell;
		text-align: right;
		min-width: 50%;
	}
}

.header-img {
	width: 100%;
	text-align: center;
}

.form {
	width: 100%;
	height: $form-height;
	background: $form-background;
	border: 0;
	border-radius: $button-border-radius;
	color: white;
	padding: $form-padding;
	font-size: $form-font-size;
	transition: all 0.15s;

	&:focus {
		border: 0 !important;
		outline: none !important;
		background: $form-background-hover;
	}

	&:hover {
		border: 0 !important;
		background: $form-background-hover;
	}
}

.loading-component {
	display: flex;
	align-items: center;
	text-align: center;
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.loading-component-message {
	display: flex;
	align-items: center;
	text-align: center;
	position: absolute;
	min-width: 100vw;
	left: 0;
	z-index: 1;
	top: 140px;
	bottom: 0;
	margin: 0 auto;
	color: white;

	p {
		text-align: center;
	margin: 0 auto;
	}
}
