@mixin box($width: 100%) {
  color: white;
  width: $width;
  background: $global-box-background;
  padding: $global-box-padding;
  border: 0;
  border-radius: $global-box-border-radius;
  margin: $global-box-margin;
  box-shadow: $global-box-shadow;
  overflow: hidden;
}

@mixin box-farm() {
  @include box();

  .separator {
    margin: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(129, 161, 204);
  }

  .title {
    color: white;
    margin: $main-title-margin;
    font-size: $main-title-font-size;
    font-weight: 400;
  }

  .amount {
    margin: 10px 0;
    font-size: $main-amount-font-size;
  }
}

@mixin button-selector($background) {
  border: 0;
  padding: $button-padding;

  .selector-wrap {
    border-radius: $button-border-radius;
  }
}

@mixin shadow() {
  text-shadow: $global-text-shadow;
}

@mixin menu-text-hover() {
  color: $global-link-hover-color;
}

@mixin menu-text-transition() {
  transition: color 0.15s;
}
