$padding: 0;

.gambling {
  padding: $padding;

  @import "./Sub/Jackpot";

  .information {
    clear: both;
    margin: 10px 0;
    padding: 0 5px;

    .wrap {
      width: 100%;
      height: 100%;
      padding: 10px;
      margin: 0;
      background: $button-background;
      border-radius: $button-border-radius;
      box-shadow: $box-shadow;

      .title-pretty {
        color: white;
        font-size: 22px;
        padding: 5px 5px 0 5px;
      }

      .text {
        color: $global-text-quiet-less;
        font-size: 16px;
        padding: 5px;
      }
    }
  }
  @media (min-width: 768px) {
    .left {
      padding-right: 10px;
    }

    .right {
      padding-left: 10px;
    }
  }
}
